.footer {
  background: var(--black);
  padding: 10vh 20vh;
  -webkit-box-shadow: 0px -2px 30px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -2px 30px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -2px 30px 10px rgba(0, 0, 0, 0.3);
}

.footer-row {
  max-width: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.footer ul {
  list-style: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  color: var(--cream);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 800;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--yellow);
  width: 50px;
  height: 2px;
}

.footer-col a:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col a {
  color: var(--cream);
  display: block;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-col a:hover {
  color: var(--cream);
  padding-left: 7px;
}

.footer-col .social-links a {
  color: var(--cream);
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px 10px 0;
  line-height: 40px;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: var(--black);
  background-color: var(--cream);
  padding-left: 0;
}

@media (max-width: 1024px) {
  .footer {
    padding: 5vh;
  }

  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

@media (max-height: 600px) {
  .footer {
    padding: 10vh 25vh;
  }
}
