.box-genre {
  /* background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */

  /* background-color: rgba(207, 207, 207, 0.05);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  border: 1.5px solid rgba(255, 255, 255, 0.06); */
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.arrow-svg {
  width: 3vw;
  height: 3vw;
}

.polyline,
.arrow {
  stroke: var(--yellow);
}

.box-genre:hover {
  scale: 1.02;
  background: var(--cream);
  color: var(--black);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0);
}

.box-genre:hover .polyline {
  stroke: var(--black);
}

.box-genre:hover .arrow {
  stroke: var(--black);
}

.btn-back {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  transform: 0.3s ease;
  transition: all 0.3s ease;
}

.detail-genre {
  display: flex;
  gap: 16px;
}

.img-genre {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.img-genre img {
  width: 100%;
  object-fit: cover; 
}

.text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}


@media screen and (max-width: 991px) {
  .arrow-svg {
    width: 5vw;
    height: 5vw;
  }

  .detail-genre {
    flex-direction: column;
  }
}
